// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~material-design-icons/iconfont/material-icons.css';

#edit-form {
    width: 400px;
    margin: 0 auto;
}

.btn i,
.info i {
    font-size: 21px;
}

.btn i {
    float: left;
    margin-right: 5px;
}

.info i {
    cursor: default;
}
